<%- layout('layouts/boilerplate') %>

<div
  class=" w-[85%] flex flex-col mx-auto my-14 items-center"
>
  <div class="content flex flex-col gap-8">

    <div class="flex gap-4">
      <a class="p-2 bg-stone-300 font-medium rounded-md" href="/recipe/new">Add New Recipe</a>
      <a class="p-2 bg-stone-300 font-medium rounded-md" href="/">Reset</a>
    </div>

    <ul id="items" class="flex gap-8 flex-wrap">
      <% recipes.forEach(recipes => { %>

      <li class="p-4 bg-stone-700 rounded-md">
        <img src="<%= recipes.image %>" alt="<%= recipes.name%>" />
        <h3 class="text-white font-medium text-2xl"><%= recipes.name %></h3>
        <a class="text-slate-300 font-medium" href="/recipe/<%= recipes.id %>">Details</a>
      </li>

      <% }); %>
    </ul>

    <div class="p-4" id="pagination">
      <% const maxAdjacentPages = 5; %> <% const showDots = totalPages >
      maxAdjacentPages * 2 + 1; %> <% for (let i = 1; i <= totalPages; i++) { %>
      <% if (!showDots || i === 1 || i === totalPages || (i >= currentPage -
      maxAdjacentPages && i <= currentPage + maxAdjacentPages)) { %>

      <a
        href="/?page=<%= i %>"
        class="<%= currentPage === i ? 'active' : '' %> text-3xl font-medium"
        ><%= i %></a
      >

      <% } else if ((i === currentPage - maxAdjacentPages - 1 || i ===
      currentPage + maxAdjacentPages + 1) && showDots) { %>
      <span>...</span>

      <% } %> <% } %>

      <p class="mt-4">
        <span
          class="inline-block border-r-2 pr-2 border-gray-600 font-serif font-medium"
          >Total pages</span
        >&nbsp;&nbsp;<%= totalPages %>
      </p>
    </div>
  </div>
</div>
