<%- layout('layouts/boilerplate') %>

<div class="mx-auto gap-4 flex w-[80%] overflow-hidden my-14 font-medium">
  <div class="rounded-lg p-4 w-[80%] mx-auto flex flex-col gap-4">
    <img class="w-full" src="<%= recipes.image %>" alt="" />

    <h1 class="text-3xl text-stone-900"><%= recipes.name %></h1>
    <p class="text-xl italic text-stone-600">"<%= recipes.ingredients %>"</p>
    <p class="text-xl tracking-wide text-st"><%= recipes.instructions %></p>
    <p class="text-lg">Cook Time: <%= recipes.cookingTime %></p>
    <p class="text-lg">Source: <%= recipes.source %></p>
    <p class="text-lg font-medium">Tags: <%= recipes.tags %></p>

    <div class="flex items-center gap-2 text-stone-50">
      <a class="p-2 bg-sky-700" href="/recipe/<%= recipes.id %>/edit"
        >Edit Recipe</a
      >
      <form action="/recipe/<%= recipes.id %>?_method=DELETE" method="post">
        <button class="p-2 bg-red-700">Delete recipe</button>
      </form>
    </div>

    <a class="text-lg font-medium mt-4" href="/"> < Go back </a>
  </div>
  <div class="w-1/2">
    <form
      class="flex flex-col gap-4 text-stone-50"
      action="/recipe/<%= recipes.id%>/progress"
      method="post"
    >
      <label class="text-stone-900 text-2xl" for="progress">Progress</label>
      <textarea
        class="text-stone-900 outline-none border-[2px] rounded-lg border-solid border-stone-800"
        name="progress"
        id="progress"
        cols="30"
        rows="5"
      ></textarea>
      <button class="bg-orange-500 p-2">Add Progress</button>
    </form>
    <ul>
      <% recipes.progress.forEach(x => { %>
      <li><%= x.progress %></li>
      <form action="/recipe/<%= recipes.id%>/progress/<%= x.id %>/item?_method=DELETE" method="post">
      <button class="bg-red-800 p-2 text-stone-50">Delete</button></form>
      <% }) %>
    </ul>
    <p></p>
  </div>
</div>
